@using ClothShop.Infrastructure
@model ClothShop.Models.ItemDetailsDto

@{
    ViewBag.Title = "ItemDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <h4>Item Details </h4>
    @if (Model.Edit==true)
    {
        <h4 style="color:crimson">Item eddited succesfully </h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dt>
            @* <img class="img-fixed" src="@Url" data-toggle="tooltip" data-placement="bottom" title="Źródło: @Model.ImagePath" />*@

            <img class="img-responsive" src="@Url.ItemPicture(Model.ImagePath)" />
        </dt>
        <div class="w-100"></div>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>







    </dl>
</div>
<div class="btn-group " style="min-width:200px">
    @if ((User.Identity.IsAuthenticated) && (User.IsInRole("Admin")))
    {
        <p><a style="min-width:200px" class="btn btn-primary btn-lg" @Html.ActionLink("Edit This Item", "EditItem", "Item", new { Model.ItemId }, null)<span></span></p>
        <p><a style="min-width:200px" class="btn btn-primary btn-lg" @Html.ActionLink("Delete This Item", "DeleteItemItem", "Item", new { Model.ItemId }, null)<span></span></p>
    }
    {
    @if (!User.IsInRole("Admin"))
    {
        <p><a style="min-width:200px" class="btn btn-primary btn-lg" @Html.ActionLink("Add to card", "EditItem", "Item", new { Model.ItemId }, null)<span></span></p>

    }

</div>